<script type="text/javascript">
    /*
        : {
            name: "",
            default_version: "",
            project_url: "",
            versions: {
                : {
                    name: "",
                    url: "",
                    no_back: false,

                    // OR

                    name: "",
                    default_url: "",
                    no_back: false,
                    url: {
                        : {
                            name: "",
                            url: "",
                        },
                    },
                },
            }
        },
    */

    const downloads = {
        // gets filled out later
        hypixelutils: {},
        vanillafault: {
            name: "vanillafault (Minecraft texture pack)",
            default_version: "normal",
            project_url: "https://github.com/naturecodevoid/vanillafault",
            versions: {
                normal: {
                    name: "Normal",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                azula: {
                    name: "Azula Swords",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Azula%20Swords)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Azula%20Swords)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                dystel: {
                    name: "Dystel Swords",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Dystel%20Swords)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Dystel%20Swords)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                henry: {
                    name: "Henry's 1.14 default edit Swords",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Henry's%201.14%20default%20edit%20Swords)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Henry's%201.14%20default%20edit%20Swords)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                long: {
                    name: "Long Swords",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Long%20Swords)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Long%20Swords)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                medium: {
                    name: "Medium Swords",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Medium%20Swords)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Medium%20Swords)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                short: {
                    name: "Short Swords",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Short%20Swords)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Short%20Swords)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
                short2: {
                    name: "Short Swords and Short Guards",
                    default_url: "java",
                    no_back: true,
                    url: {
                        java: {
                            name: "Java",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Short%20Swords%20and%20Short%20Guards)%20Java.zip?raw=true",
                        },
                        bedrock: {
                            name: "Bedrock",
                            url:
                                "https://github.com/naturecodevoid/vanillafault/blob/master/out/vanillafault%20(Short%20Swords%20and%20Short%20Guards)%20Bedrock.mcpack?raw=true",
                        },
                    },
                },
            },
        },
        ctjs: {
            name: "ct.js (Game engine)",
            default_version: "stable",
            project_url: "https://ctjs.rocks/",
            versions: {
                stable: {
                    name: "Stable",
                    no_back: true,
                    url: "https://ctjs.rocks/download/",
                },
                nightly: {
                    name: "Nightly",
                    no_back: true,
                    url: "https://comigo.itch.io/ct-nightly",
                },
            },
        },
    };

    const genHtml = () => {
        const list = document.getElementById("downloads");
        for (const key in downloads)
            if (downloads.hasOwnProperty(key)) {
                const element = downloads[key];
                const root = document.createElement("li");
                root.innerHTML += `<a href="${element.project_url}" id="${key}">${element.name}</a>`;
                const rootUl = document.createElement("ul");

                for (const key2 in element.versions)
                    if (element.versions.hasOwnProperty(key2)) {
                        const element2 = element.versions[key2];
                        if (typeof element2.url === "object") {
                            const li = document.createElement("li");
                            const ul = document.createElement("ul");
                            li.innerHTML += `${element2.name}`;

                            for (const key3 in element2.url) {
                                if (element2.url.hasOwnProperty(key3)) {
                                    const element3 = element2.url[key3];

                                    const li2 = document.createElement("li");
                                    li2.innerHTML += `<a href="${element3.url}">${element3.name}</a>`;
                                    ul.appendChild(li2);
                                }
                            }

                            li.appendChild(ul);
                            rootUl.appendChild(li);
                        } else {
                            const li = document.createElement("li");
                            li.innerHTML += `<a href="${element2.url}">${element2.name}</a>`;
                            rootUl.appendChild(li);
                        }
                    }

                root.appendChild(rootUl);
                list.appendChild(root);

                root.innerHTML += "<br />";
            }
        //} else console.debug("loaded with redirect, maybe something went wrong when redirecting?");
    };

    let loaded = false;
    let gottenHypixelUtils = false;

    // HypixelUtils download
    {
        const releaseUrl = "https://api.github.com/repos/naturecodevoiddev/HypixelUtils/releases/latest";

        window.fetch(releaseUrl).then((r) => {
            r.json().then((data) => {
                //console.debug(data);
                const asset = data.assets[0];
                const downloadUrl = asset.browser_download_url;

                downloads["hypixelutils"] = {
                    name: "HypixelUtils (1.8.9 mod)",
                    default_version: "stable",
                    project_url: "https://github.com/naturecodevoid/HypixelUtils",
                    versions: {
                        stable: {
                            name: "Stable jar download",
                            no_back: true,
                            url: downloadUrl,
                        },
                    },
                };

                //console.debug(downloads["hypixelutils"]);

                gottenHypixelUtils = true;
                if (loaded) {
                    redirect();
                    genHtml();
                }
            });
        });
    }

    // Redirect
    const redirect = () => {
        const urlParameters = new URLSearchParams(window.location.search);

        let redirected = false;
        const redirect = (url, noBack = false) => {
            redirected = true;
            const oldUrl = window.location.href;
            window.location.href = url;
            if (!noBack)
                setTimeout(() => {
                    window.location.href = oldUrl + "&cancel";
                }, 2000);
        };

        if (urlParameters.get("name")) {
            let url;
            let download = downloads[urlParameters.get("name").toString()];
            if (download && (urlParameters.get("cancel") === null ? true : false)) {
                let version =
                    urlParameters.get("version") === null
                        ? download.versions[download.default_version]
                        : download.versions[urlParameters.get("version").toString()];
                if (!version) {
                    version = download.versions[download.default_version];
                }
                url = version.url;
                if (typeof url === "object") {
                    url =
                        urlParameters.get("url") === null
                            ? version.url[version.default_url]
                            : version.url[urlParameters.get("url").toString()];
                    if (!url) {
                        url = version.url[version.default_url];
                    }
                    url = url.url;
                }
                redirect(url, version.no_back);
            } else console.debug("Invalid download or redirect canceled!");
        }
    };

    window.addEventListener("load", () => {
        //if (!redirected) {
        //console.debug("loaded without redirect");
        loaded = true;
        if (!gottenHypixelUtils) return;
        redirect();
        genHtml();
    });
</script>
