<!-- Used in downloads/index.html -->

{% include downloadsData.html %}

<script type="text/javascript">
    const genHtml = () => {
        const list = document.getElementById("downloads");
        for (const key in downloads)
            if (downloads.hasOwnProperty(key)) {
                const element = downloads[key];
                const root = document.createElement("li");
                root.innerHTML += `<a href="${element.project_url}" id="${key}" target="_blank">${element.name} &nbsp;<i class="fas fa-external-link-alt"></i></a>`;
                const rootUl = document.createElement("ul");

                for (const key2 in element.versions)
                    if (element.versions.hasOwnProperty(key2)) {
                        const element2 = element.versions[key2];
                        const target = element2.target_blank ? ` target="_blank"` : "";
                        const target2 = element2.target_blank ? ` &nbsp;<i class="fas fa-external-link-alt"></i>` : "";
                        if (typeof element2.url === "object") {
                            const li = document.createElement("li");
                            const ul = document.createElement("ul");
                            li.innerHTML += `${element2.name}`;

                            for (const key3 in element2.url) {
                                if (element2.url.hasOwnProperty(key3)) {
                                    const element3 = element2.url[key3];

                                    const li2 = document.createElement("li");
                                    li2.innerHTML += `<a href="${element3.url}"${target}>${element3.name}${target2}</a>`;
                                    ul.appendChild(li2);
                                }
                            }

                            li.appendChild(ul);
                            rootUl.appendChild(li);
                        } else {
                            const li = document.createElement("li");
                            li.innerHTML += `<a href="${element2.url}"${target}>${element2.name}${target2}</a>`;
                            rootUl.appendChild(li);
                        }
                    }

                root.appendChild(rootUl);
                list.appendChild(root);

                root.innerHTML += "<br />";
            }
    };

    let loaded = false;
    let gottenHypixelUtils = false;

    // HypixelUtils download
    {
        const releaseUrl = "https://api.github.com/repos/naturecodevoiddev/HypixelUtils/releases/latest";

        window.fetch(releaseUrl).then((r) => {
            r.json().then((data) => {
                const asset = data.assets[0];
                const downloadUrl = asset.browser_download_url;

                downloads["hypixelutils"] = {
                    name: "HypixelUtils (1.8.9 mc mod)",
                    default_version: "stable",
                    project_url: "/projects/hypixelutils",
                    versions: {
                        stable: {
                            name: "Stable jar download",
                            no_back: true,
                            url: downloadUrl,
                        },
                    },
                };

                gottenHypixelUtils = true;
                if (loaded) {
                    redirect();
                    genHtml();
                }
            });
        });
    }

    // Redirect
    const redirect = () => {
        const urlParameters = new URLSearchParams(window.location.search);

        let redirected = false;
        const redirect = (url, noBack = false) => {
            redirected = true;
            const oldUrl = window.location.href;
            window.location.href = url;
            if (!noBack)
                setTimeout(() => {
                    window.location.href = oldUrl + "&cancel";
                }, 2000);
        };

        if (urlParameters.get("name")) {
            let url;
            let download = downloads[urlParameters.get("name").toString()];
            if (download && (urlParameters.get("cancel") === null ? true : false)) {
                let version =
                    urlParameters.get("version") === null
                        ? download.versions[download.default_version]
                        : download.versions[urlParameters.get("version").toString()];
                if (!version) {
                    version = download.versions[download.default_version];
                }
                url = version.url;
                if (typeof url === "object") {
                    url =
                        urlParameters.get("url") === null
                            ? version.url[version.default_url]
                            : version.url[urlParameters.get("url").toString()];
                    if (!url) {
                        url = version.url[version.default_url];
                    }
                    url = url.url;
                }
                redirect(url, version.no_back);
            } else console.debug("Invalid download or redirect canceled!");
        }
    };

    window.addEventListener("load", () => {
        loaded = true;
        if (!gottenHypixelUtils) return;
        redirect();
        genHtml();
    });
</script>
