<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>{{ page.title }} | {{ site.title }}</title>

<link rel="stylesheet" href='{{ "/assets/css/normalize.css" | relative_url }}' />
<link rel="stylesheet" href='{{ "/assets/css/w3.css" | relative_url }}' />
<link rel="stylesheet" href='{{ "/assets/css/main.css" | relative_url }}' />
<link rel="shortcut icon" type="image/x-icon" href='{{ "/favicon.ico" | relative_url }}' />

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

<script src='{{ "/assets/js/fetch.umd.js" | relative_url }}'></script>

<link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
    crossorigin="anonymous"
/>

<script type="text/javascript">
    // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes#Polyfill
    if (!String.prototype.includes) {
        String.prototype.includes = function(search, start) {
            "use strict";

            if (search instanceof RegExp) {
                throw TypeError("first argument must not be a RegExp");
            }
            if (start === undefined) {
                start = 0;
            }
            return this.indexOf(search, start) !== -1;
        };
    }
</script>

<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
