<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="utf-8" />
<title>{{ page.title }} | {{ site.title }}</title>

<link rel="stylesheet" href="{{ "/assets/css/w3.css" | relative_url }}" /> <link rel="stylesheet" href="{{
"/assets/css/main.css" | relative_url }}" /> <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" |
relative_url }}" />

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />

<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
