<!-- Used in elements/head.html -->

<script type="text/javascript">
    /*
        {
            "urlOptions": [],
            "redirectUrl": "$1/",
        },
    */

    // $1 = base url
    const redirects = [
        // Projects
        {
            urlOptions: ["hypixelutils"],
            redirectUrl: "$1/projects/hypixelutils",
        },
        {
            urlOptions: ["randomtextgenerator", "randomtextgen", "randomtext", "textgenerator", "textgen"],
            redirectUrl: "$1/projects/randomtextgenerator",
        },
        {
            urlOptions: ["mcutilities", "mc-utilities", "mcutil", "mcutils", "mc-util", "mc-utils"],
            redirectUrl: "$1/projects/mcutilities",
        },
        {
            urlOptions: ["vanillafault"],
            redirectUrl: "$1/projects/vanillafault",
        },
        {
            urlOptions: ["ct", "ctjs", "ct.js"],
            redirectUrl: "https://ctjs.rocks",
        },
        // Other
        {
            urlOptions: ["contact"],
            redirectUrl: "$1/#contact",
        },
        {
            urlOptions: ["discord"],
            redirectUrl: "$1/#contact",
        },
        {
            urlOptions: ["github"],
            redirectUrl: "https://github.com/naturecodevoid",
        },
        {
            urlOptions: ["twitter"],
            redirectUrl: "https://twitter.com/naturecodevoid",
        },
    ];
</script>
