$backgroundColor: #2e2e2e;
$bodyColor: #ffffff;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
}

a {
    color: deepskyblue;
    text-decoration: none;
    visited {
        color: deepskyblue;
        text-decoration: none;
    }
    hover {
        color: lightgreen;
        text-decoration: none;
    }
    active {
        color: green;
        text-decoration: none;
    }
}

nav {
    position: absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        //background-color: #333;
    }

    li {
        display: inline;
        //border-right: 1px solid #bbb;
        a {
            //float: none;
            //position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 14px 16px;
            //float: left;
            //display: block;
            //color: white;
            text-align: center;
            //padding: 14px 16px;
            text-decoration: none;
        }
        /*last-child {
            border-right: none;
        }*/
    }
}

.cardSearch/* div*/ {
    input {
        //width: 26%;
        width: 200px; //15%;
    }

    button {
        //width: 200px;
        width: auto;
    }

    /*button {
        width: 26%
    }*/
}
