:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    --color: #ffffffde;
    --page-bg-color: #242424;
    --bg-color: #3b3b3b;
    --bg-shadow-color: #2d2d2d;

    color-scheme: dark;
    color: var(--color);
    background-color: var(--page-bg-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    padding-top: 0;
    text-align: center;
}

h1,
h2,
h4,
span {
    color: var(--color);
    font-weight: 400;
    font-family: inherit;
}

h4,
span {
    font-size: 1em;
}

button,
input {
    border-radius: 8px;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 400;
    font-family: inherit;
    color: var(--color);
    background-color: #252525;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: #313131 2px 2px;
    transition: background-color 0.5s ease-in-out;
}

button {
    border: 1px solid #3a3a3a;
}

button.disabled {
    background-color: #ca3737;
}

input {
    border: 1px solid #3a3a3a;
}

input:focus {
    outline: none;
}

a {
    color: #0099ff;
}

i {
    color: var(--color);
}

.option-active {
    border-color: #2a5cff !important;
    z-index: 5;
}

.square-active {
    box-shadow: inset 0px 0px 0px 1px #2a5cff;
}
